# Node modules (if any frontend tools exist)
node_modules/

# Ignore uploads (unless you want to commit media)
uploads/

## Ignore plugins
# Ignore all plugins...
plugins/*

# Ignore all themes...
themes/*

# ...except your custom theme
!themes/social-blueprint-2025/
!themes/csp-social-blueprint-australia/
!themes/twentytwentyfive

# OS junk
.DS_Store
Thumbs.db

# IDE/editor configs
.vscode/
.idea/

# Logs and temp files
*.log
*.tmp

# Ignore All-in-One WP Migration backup folder
ai1wm-backups/
